---
import Layout from "../../layouts/Layout.astro";
import Services from "../../components/Services.astro";
---

<Layout title="Our Services | Bliz Media">
    <div class="pt-20">
        <Services />
    </div>
</Layout>
