---
import Layout from "../layouts/Layout.astro";
import { AboutUsHero } from "../components/heroes/AboutUsHero";
import Achievements from "../components/Achievements.astro";
import Team from "../components/Team.astro";
---

<Layout title="About Us - Bliz Media">
  <div class="overflow-x-hidden">
    <AboutUsHero client:load />
  </div>
  <Achievements />
  <Team />
</Layout>
