---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Contact Us | Bliz Media">
    <div class="pt-12">
        <Contact />
    </div>
</Layout>
