---
import { AnimatedMarqueeHero } from "./ui/hero-3";

const HERO_IMAGES = [
  "/images/home-hero/✅ move-smarter.webp",
  "/images/home-hero/✅✅ (1).webp",
  "/images/home-hero/✅✅ (2).webp",
  "/images/home-hero/✅✅ (3).webp",
  "/images/home-hero/✅✅ (4).webp",
  "/images/home-hero/✅✅ (5).webp",
  // "/images/home-hero/✅✅.webp",
  // "/images/home-hero/✅✅1.webp",
  // "/images/home-hero/✅✅6.webp",
  // "/images/home-hero/✅✅Artboard 1@3x.webp",
  // "/images/home-hero/✅✅DUBAILAND, DUBAI.webp",
];
---

<AnimatedMarqueeHero
  client:load
  tagline="Join over 300+ happy clients"
  title="Branding, Web Development & Digital Marketing Solutions"
  description="Elevate your digital presence with our expert solutions in branding, web development, and impact-driven marketing strategy."
  ctaText="Chat on WhatsApp"
  ctaHref="https://wa.me/971568752317"
  images={HERO_IMAGES}
>
  <!-- <span slot="title">
    Branding, Web Development & <br class="hidden md:block" />
    Digital Marketing Solutions Across <br />
    <CityCycler client:load />
  </span> -->
</AnimatedMarqueeHero>
