---
import ScrollMomentumKiller from "./ScrollMomentumKiller";
import ScrollTeamEXP from "./ScrollTeamEXP";
---

<ScrollMomentumKiller client:load triggerOffset={300}>
  <div id="team" class="w-full">
    <ScrollTeamEXP client:load />
  </div>
</ScrollMomentumKiller>
