---
import ScrollTeamEXP from "./ScrollTeamEXP";
import TeamMobile from "./TeamMobile.astro";
---

<!-- Desktop: ScrollTeamEXP with animation -->
<div id="team" class="w-full hidden lg:block">
  <ScrollTeamEXP client:load />
</div>

<!-- Mobile: Static scroll-snap version -->
<div id="team-mobile" class="w-full lg:hidden">
  <TeamMobile />
</div>
