---
interface Props {
    title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import FloatingSocials from "../components/FloatingSocials.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        class="bg-white text-gray-900 selection:bg-black selection:text-white font-['Inter',_sans-serif]"
    >
        <Navbar />
        <main>
            <slot />
        </main>
        <Footer />
        <FloatingSocials />
    </body>
</html>
